@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

.componentContainer {
    width: 100%;
}

.inputContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputSubContainer {
    padding: 100px 0px 50px 0px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    font-family: 'Oswald', sans-serif;
    width: 80%;
}

.inputSubContainer > input {
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 0px 20px 0px 20px;
    border: none;
    box-shadow: 0px 0px 10px 1px lightgrey;
}

.inputSubContainer > input:focus {
    outline: none;
}


.selectRegion {
    font-size: 20px;
    width: 300px;
    height: 50px;
    padding: 0px 20px 0px 20px;
    border: none;
    box-shadow: 0px 0px 10px 1px lightgrey;
}

.selectRegion:focus {
    outline: none;
    cursor: default;
}





@media screen and (max-width: 850px) {
    .inputSubContainer {
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }
}

@media screen and (max-width: 400px) {
    .inputSubContainer > input {
        font-size: 15px;
        width: 200px;
    }

    .selectRegion {
        width: 200px;
        font-size: 15px;
    }
}

.countryCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    row-gap: 105px;
    column-gap: 100px;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
}

.countryCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 450px;
    box-shadow: 0px 0px 20px 1px rgb(170, 170, 170);
    text-align: left;
}

.countryFlag {
    height: fit-content;
}

.countryFlag> img {
    width: 350px;
    height: 250px;
}


.countryInfo {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.countryInfo > p {
    margin: 0;
    padding: 0;
}

.countryName {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

@media screen and (max-width: 400px) {
    .countryCardContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .countryCard {
        height: 300px;
    }
    .countryFlag> img {
        width: 250px;
        height: 150px;
    }
}