@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


.componentContainer {
    display: flex;
    justify-content: center;
    height: 120px;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.subContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: inherit;
}

.subContainer > p {
    font-size: 30px;
}

.subContainer > button {
    font-size: 20px;
    padding: 10px;
    width: 200px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    background-image: url("../../../public/night-mode.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position:center left;
}

@media screen and (max-width: 450px) {
    .subContainer > button {
        background-image: none;
    }
}
