@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');


.page {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.componentContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: fit-content;
    column-gap: 150px;
    row-gap: 50px;
}

.homeButton {
    grid-row: 1;
    grid-column: 1 / 2;
    width: 200px;
    height: 50px;
    position: relative;
    top: 50px;
    border: none;
}

.countryFlagContainer {
    grid-row: 2;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 500px
}

.countryFlag {
    width: 500px;
}






.infoContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100%;
    grid-row: 2;
    grid-column: 2 / 2;
}

.countryName {
    grid-row: 1;
    grid-template-columns: 1 / 3;
}

.info1 {
    grid-row: 2;
    grid-column: 1;
    width: 400px;
}

.info2 {
    grid-row: 2;
    grid-column: 2;
    width: 400px;
}


.borderCountriesContainer {
    display: flex;
    grid-row: 3;
    grid-column: 1 / 3;
    align-items: center;
    max-width: 800px;
    flex-wrap: wrap;
}

.borderCountriesContainer > p {
    margin-right: 20px;
}

.borderCountryCard {
    display: flex;
    margin-right: 20px;
}

.borderCountryCard > p {
    padding: 10px;
    text-align: center;
    width: 100px;
}



@media screen and (max-width: 1500px) {
    .componentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homeButton {
        top: 0;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: fit-content;
    }

    .borderCountriesContainer {
        justify-content: center;
    }
}


@media screen and (max-width: 750px) {

    .componentContainer {
        position: relative;
        top: 150px;
        width: 100%;
    }

    .countryFlagContainer {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .info1 {
        width: 100%;
    }

    .info2 {
        width: 100%;
    }

    .countryFlag {
        width: 80%;
    }


    .borderCountriesContainer {
        flex-direction: column;
        width: 100%;
    }

    .borderCountryCard {
        margin: 0;
    }

    .borderCountryCard > p {
        min-width: 250px;
    }
}


